{% extends "base_generic.html" %}
{% load static %}


{% block content %}

<div class="team-section">
    <div class="level" style="text-align: center;flex-wrap: wrap;">
        <div class="level-item price">
            <div class="price-header">
                <h1><strong>FÜHRERSCHEIN für PKW</strong></h1>
                <p>Als Ausbildungsfahrzeug steht ein
                    BMW automatik zur Verfügung.</p>
            </div>
            <div class="price-list">
                <h1><strong>PREISE</strong></h1>
                <div class="price-table">
                    <div style="text-align: left;">
                        Grundgebühr
                    </div>
                    <div style="text-align: right;">
                        499,-
                    </div>
                </div>
                <div class="price-table">
                    <div style="text-align: left;">
                        1 Std
                    </div>
                    <div style="text-align: right;">
                        75,-
                    </div>
                </div>
            </div>
        </div>

        <div class="level-item price">
            <div class="price-header">
                <h1><strong>FÜHRERSCHEIN für MOTORRAD</strong></h1>
                <p>Als Ausbildungsfahrzeug steht eine
                    Honda zur Verfügung.</p>
            </div>
            <div class="price-list">
                <h1><strong>PREISE</strong></h1>
                <div class="price-table">
                    <div style="text-align: left;">
                        Grundgebühr
                    </div>
                    <div style="text-align: right;">
                        499,-
                    </div>
                </div>
                <div class="price-table">
                    <div style="text-align: left;">
                        1 Std
                    </div>
                    <div style="text-align: right;">
                        75,-
                    </div>
                </div>
            </div>
        </div>

        <div class="level-item price">
            <div class="price-header">
                <h1><strong>FÜHRERSCHEIN für LKW</strong></h1>
                <p>Als Ausbildungsfahrzeug steht ein xxx zur Verfügung.</p>
            </div>
            <div class="price-list">
                <h1><strong>PREISE</strong></h1>
                <div class="price-table">
                    <div style="text-align: left;">
                        Grundgebühr
                    </div>
                    <div style="text-align: right;">
                        xxx,-
                    </div>
                </div>
                <div class="price-table">
                    <div style="text-align: left;">
                        1 Std
                    </div>
                    <div style="text-align: right;">
                        xx,-
                    </div>
                </div>
            </div>
        </div>

        <div class="level-item price">
            <div class="price-header">
                <h1><strong>FÜHRERSCHEIN für BUS</strong></h1>
                <p>Als Ausbildungsfahrzeug steht ein
                    xxx zur Verfügung.</p>
            </div>
            <div class="price-list">
                <h1><strong>PREISE</strong></h1>
                <div class="price-table">
                    <div style="text-align: left;">
                        Grundgebühr
                    </div>
                    <div style="text-align: right;">
                        xxx,-
                    </div>
                </div>
                <div class="price-table">
                    <div style="text-align: left;">
                        1 Std
                    </div>
                    <div style="text-align: right;">
                        xx,-
                    </div>
                </div>
            </div>
        </div>

        <div class="level-item price">
            <div class="price-header">
                <h1><strong>AUFFRISCHUNGSSTUNDEN</strong></h1>
            </div>
            <div class="price-list">
                <h1><strong>PROBESTUNDE</strong></h1>
                <p>Eine Probestunde wird mit dem Führerschein verrechnet</p>
            </div>
        </div>
        <div class="level-item price">
            <div class="price-header">
                <h1><strong>FÜHRERSCHEIN UMSCHREIBUNG</strong></h1>
            </div>
            <div class="price-list">
                <a href="https://www.lewa-gmbh.de/" target="_blank"><strong>LEWA AUSBILDUNGSKONZEPT</strong></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}