{% extends "base_generic.html" %}
{% load static %}


{% block content %}

<div id="contact" class="contact-section">
    <br />
    <div class="columns">
        <div class="column is-4">
        </div>
        <div class="column" style="padding-left: 3rem;">
            <p>Fahrschule Gruhn</p>
            <div style="width: 25rem;display: flex;">
                <div style="width: 10ch;">
                    <p>Telefon</p>     
                </div>
                <div style="width: 100%;">
                    <p><a href="tel:+4981413154489"> 0814 13 15 44 89</a></p>    
                </div>
            </div>
            <div style="width: 25rem;display: flex;">
                <div style="width: 10ch;">
                    <p>Mobil</p>     
                </div>
                <div style="width: 100%;">
                    <p><a href="tel:+491701766444"> 0170 17 66 444</a></p>    
                </div>
            </div>
            <div style="width: 25rem;display: flex;">
                <div style="width: 10ch;">
                    <p>E-mail</p>     
                </div>
                <div style="width: 100%;">
                    <p><a href="mailto:info@fahrschule-gruhn.de"> info@fahrschule-gruhn.de</a></p> 
                </div>
            </div>
            <br />
            <p> Münchner Str. 65, 82256 Fürstenfeldbruck</p>
            <br />
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2660.7136877381417!2d11.263075315749571!3d48.173599156630154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479e7f3f7e827d55%3A0xec37c0db0f7dd73!2sFahrschule%20Gruhn!5e0!3m2!1sen!2sde!4v1650231320484!5m2!1sen!2sde"
                width="400" height="350" style="border:0;" allowfullscreen=""
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br />
            <p>Impressum</p>
            <br />
            <p>Fahrschule Gruhn<br>
                Münchner Str. 65<br>
                82256 Fürstenfeldbruck</p>
            <p>Inhaber: Thomas Gruhn<br>
                Münchner Str. 65<br>
                82256 Fürstenfeldbruck</p>
            <p>Tel.: 081 413154489<br>
                Mobil: +49 170 1766444</p>
            <p>Email: <a href="mailto:info@fahrschule-gruhn.de">info@fahrschule-gruhn.de</a></p>
            <p>Steuer-ID: 117/223/11908</p>
            <p>IdNr.: 96 012 549 739</p>
        </div>
    </div>
</div>

{% endblock %}