{% extends "base_generic.html" %}

{% block content %}
<div class="content privacy-policy-section">
    <div>
        <div>
            <div style="border-radius:0px; ">
                <div style="padding-bottom:10px; ">
                    <h2>Datenschutz</h2>
                </div>
            </div>
            <div style="border-radius:0px; ">
                <div style="padding-bottom:10px; ">
                    <h3>Verantwortliche Stelle im Sinne der Datenschutz-Gesetze ist:</h3>
                </div>
                <section>
                    <div>
                        <p>Thomas Gruhn<br>
                            Münchner Str. 65<br>
                            82256 Fürstenfeldbruck</p>
                        <p>Email: <a href="mailto:info@fahrschule-gruhn.de">info@fahrschule-gruhn.de</a></p>
                    </div>
                </section>
            </div>
            <br/>
            <div style="border-radius:0px; ">
                <section>
                    <div>
                        <section>
                            <div>
                                <p>Wir nehmen Datenschutz sehr ernst und möchten Sie nachfolgend darüber
                                    informieren:</p>
                                <p><strong>Erfassung allgemeiner Informationen</strong></p>
                                <p>Bei einem Zugriff auf unsere Webseite werden automatisch Informationen
                                    allgemeiner Natur erfasst. Diese Informationen (Server-Logfiles)
                                    beinhalten die Art des Webbrowsers, das verwendete Betriebssystem, den
                                    Domainnamen Ihres Internet Service Providers und Ähnliches. Dabei
                                    handelt es sich ausschließlich um Informationen, die keinerlei
                                    Rückschlüsse auf Ihre Person zulassen. Diese Informationen sind
                                    technisch notwendig, um von Ihnen angeforderte Inhalte von Webseiten
                                    korrekt auszuliefern und fallen bei Nutzung des Internets zwingend an.
                                    Anonyme Informationen dieser Art werden von uns statistisch ausgewertet,
                                    um unseren Internetauftritt und die dahinterstehende Technik zu
                                    optimieren.</p>
                                <p><strong>Cookies</strong></p>
                                <p>Cookies können nicht verwendet werden, um Programme zu starten oder Viren
                                    auf einen Computer zu übertragen. Anhand der in Cookies enthaltenen
                                    Informationen können wir Ihnen die Navigation erleichtern und die
                                    korrekte Anzeige unserer Webseiten ermöglichen.</p>
                                <p>Die von uns erfassten Daten werden in keinem Fall an Dritte weitergegeben
                                    oder ohne Ihre Einwilligung eine Verknüpfung mit personenbezogenen Daten
                                    hergestellt.</p>
                                <p>Sie können unsere Website grundsätzlich auch ohne Cookies betrachten.
                                    Grundsätzlich sind Internet-Browser so eingestellt, dass sie Cookies
                                    akzeptieren. Sie können die Verwendung von Cookies jedoch jederzeit über
                                    die Einstellungen Ihres Browsers deaktivieren. Verwenden Sie hierzu die
                                    Hilfefunktionen Ihres Internetbrowsers, um zu erfahren, wie Sie diese
                                    Einstellungen ändern können. Bitte beachten Sie aber, dass einzelne
                                    Funktionen unserer Website möglicherweise nicht funktionieren, wenn Sie
                                    die Verwendung von Cookies deaktiviert haben.</p>
                                <p><strong>SSL-Verschlüsselung</strong></p>
                                <p>Um die Sicherheit Ihrer Daten bei der Übertragung zu schützen, verwenden
                                    wir dem aktuellen Stand der Technik entsprechende
                                    Verschlüsselungsverfahren (z. B. SSL) über HTTPS.</p>
                                <p><strong>Kontaktformular</strong></p>
                                <p>Treten Sie per E-Mail oder Kontaktformular mit uns in Kontakt, werden die
                                    von Ihnen gemachten Angaben zum Zwecke der Bearbeitung der Anfrage sowie
                                    für mögliche Anschlussfragen gespeichert. Diese Daten werden von uns in
                                    keinem Fall an Dritte weitergegeben.</p>
                                <p><strong>Social Plugins</strong></p>
                                <p>Auf unseren Webseiten werden Social Plugins der unten aufgeführten
                                    Anbieter eingesetzt. Die Plugins können Sie daran erkennen, dass sie mit
                                    dem entsprechenden Logo gekennzeichnet sind.</p>
                                <p>Über diese Plugins werden unter Umständen Informationen, zu denen auch
                                    personenbezogene Daten gehören können, an den Dienstebetreiber gesendet
                                    und ggf. von diesem genutzt. Wir erfassen selbst keine personenbezogenen
                                    Daten mittels der Social Plugins oder über deren Nutzung.</p>
                                <p>Wir haben keinen Einfluss darauf, welche Daten ein aktiviertes Plugin
                                    erfasst und wie diese durch den Anbieter verwendet werden. Derzeit muss
                                    davon ausgegangen werden, dass eine direkte Verbindung zu den Diensten
                                    des Anbieters ausgebaut wird sowie mindestens die IP-Adresse und
                                    gerätebezogene Informationen erfasst und genutzt werden. Ebenfalls
                                    besteht die Möglichkeit, dass die Diensteanbieter versuchen, Cookies auf
                                    dem verwendeten Rechner zu speichern. Welche konkreten Daten hierbei
                                    erfasst und wie diese genutzt werden, entnehmen Sie bitte den
                                    Datenschutzhinweisen des jeweiligen Diensteanbieters. Hinweis: Falls Sie
                                    zeitgleich bei Facebook angemeldet sind, kann Facebook Sie als Besucher
                                    einer bestimmten Seite identifizieren.</p>
                                <p>Wir haben auf unserer Website die Social-Media-Buttons folgender
                                    Unternehmen eingebunden:<br>
                                    Google LLC (1600 Amphitheatre Parkway, Mountain View, CA 94043, USA)</p>
                                <p><strong>Verwendung von Google Maps</strong></p>
                                <p>Diese Webseite verwendet Google Maps API, um geographische Informationen
                                    visuell darzustellen. Bei der Nutzung von Google Maps werden von Google
                                    auch Daten über die Nutzung der Kartenfunktionen durch Besucher erhoben,
                                    verarbeitet und genutzt. Nähere Informationen über die Datenverarbeitung
                                    durch Google können Sie den <a href="https://www.google.com/privacypolicy.html"
                                        target="_blank" rel="noopener">den Google-Datenschutzhinweisen</a> entnehmen.
                                    Dort
                                    können Sie im Datenschutzcenter auch Ihre persönlichen
                                    Datenschutz-Einstellungen verändern.</p>
                                <p>Ausführliche Anleitungen zur Verwaltung der eigenen Daten im Zusammenhang
                                    mit Google-Produkten <a href="https://www.dataliberation.org/" target="_blank"
                                        rel="noopener">finden Sie hier</a></p>
                                <p><strong>Ihre Rechte auf Auskunft, Berichtigung, Sperre, Löschung und
                                        Widerspruch</strong></p>
                                <p>Sie haben das Recht, jederzeit Auskunft über Ihre bei uns gespeicherten
                                    personenbezogenen Daten zu erhalten. Ebenso haben Sie das Recht auf
                                    Berichtigung, Sperrung oder, abgesehen von der vorgeschriebenen
                                    Datenspeicherung zur Geschäftsabwicklung, Löschung Ihrer
                                    personenbezogenen Daten. Bitte wenden Sie sich dazu an unseren
                                    Datenschutzbeauftragten. Die Kontaktdaten finden Sie ganz unten.</p>
                                <p>Damit eine Sperre von Daten jederzeit berücksichtigt werden kann, müssen
                                    diese Daten zu Kontrollzwecken in einer Sperrdatei vorgehalten werden.
                                    Sie können auch die Löschung der Daten verlangen, soweit keine
                                    gesetzliche Archivierungsverpflichtung besteht. Soweit eine solche
                                    Verpflichtung besteht, sperren wir Ihre Daten auf Wunsch. Sie können
                                    Änderungen oder den Widerruf einer Einwilligung durch entsprechende
                                    Mitteilung an uns mit Wirkung für die Zukunft vornehmen.</p>
                                <p><strong>Änderung unserer Datenschutzbestimmungen</strong></p>
                                <p>Wir behalten uns vor, diese Datenschutzerklärung gelegentlich anzupassen,
                                    damit sie stets den aktuellen rechtlichen Anforderungen entspricht oder
                                    um Änderungen unserer Leistungen in der Datenschutzerklärung umzusetzen,
                                    z. B. bei der Einführung neuer Services. Für Ihren erneuten Besuch gilt
                                    dann die neue Datenschutzerklärung.</p>
                                <p><strong>Fragen zum Datenschutz</strong></p>
                                <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine
                                    E-Mail an: <a
                                        href="mailto:info@fahrschule-gruhn.de">info@fahrschule-gruhn.de</a>
                                </p>
                            </div>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>


{% endblock %}